@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(fonts/Open_Sans);
}

::-webkit-scrollbar{
    width: 0;
    visibility: hidden;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-family: 'Open Sans', sans-serif;
}

/* --------------- Шапка --------------- */

header{
    background-color: #ffffff;
}

.inner-header{
    gap: 2%;
    padding: 2% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-left-sec{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-right-sec{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.separator{
    margin: 0 4%;
}

.logo-link img{
    width: 60%;
}

.link{
    user-select: none;
    white-space: nowrap;
    color: rgb(138, 138, 138);
    font-size: calc(14px + 2 * (100vw / 1920));
}

.active-link{
    padding-bottom: 0.5%;
    color: rgb(12, 12, 12);
    border-bottom: solid 1px black;
}

/* --------------- Футер --------------- */

footer{
    background-color: #ffffff;
}

.inner-footer{
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* --------------- блоки --------------- */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
}

.right-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

main{
    margin: 2% 0;
    flex-grow: 1;
}

.card{
    margin-bottom: 3%;
    border-radius: 20px;
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
    background-color: #ffffff;
}

.filter-form .card-header{
    padding: 0;
}

.card-header{
    display: flex;
    padding: 0 0 2% 0;
    align-items: center;
    justify-content: space-between;
}

.filter-section{
    width: 60%;
    display: flex;
    flex-direction: row;
}

.agreement{
    display: flex;
    margin-top: 2%;
    align-items: center;
    flex-direction: row;
}

/* --------------- Ввод данных --------------- */

.form{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.filter-form{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.align-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.input-label{
    width: 340px;
    user-select: none;
    white-space: nowrap;
    margin: 1.6% 0 0.4% 0;
    color: rgb(100, 100, 100);
    font-size: calc(14px + 2 * (100vw / 1920));
}

.agreement label{
    user-select: none;
    white-space: nowrap;
    font-size: calc(14px + 2 * (100vw / 1920));
}

.form-input, .button, .file-upload{
    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

.select{
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.select{
    width: 360px;
    padding: 0.8% 1%;
    border-radius: 12px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(173, 173, 173);
    font-size: calc(14px + 2 * (100vw / 1920));
}

.form-input{
    width: 360px;
    padding: 0.8% 1%;
    border-radius: 12px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(173, 173, 173);
    font-size: calc(14px + 2 * (100vw / 1920));
}

.filter-input{
    padding: 0 1.6%;
    margin-right: 6%;
}

.filter-select{
    padding: 0 1.6%;
    appearance: none;
    border-radius: 12px;
    font-size: calc(14px + 4 * (100vw / 1920));
}

.filter-input::placeholder{
    font-size: calc(14px + 2 * (100vw / 1920));
}

.form-input:focus{
    outline: none;
    border: solid 1px rgb(77, 77, 77);
}

.agreement input{
    width: auto;
    margin: 0 2% 0 0;
}

.file-upload-place{
    margin-bottom: 2%;
}

.file-upload{
    padding: 0;
    width: 360px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-size: calc(12px + 4 * (100vw / 1920));
}

.file-upload:focus{
    border: none;
}

.text-area{
    width: 360px;
    resize: none;
    padding: 0.8% 1%;
    border-radius: 12px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(173, 173, 173);
    font-size: calc(14px + 2 * (100vw / 1920));
}

.text-area:focus, .select:focus, .filter-select:focus {
    outline: none;
    border: solid 1px rgb(77, 77, 77);
}

.invalid-field{
    border: solid 1px #f03d33;
}

/* --------------- текста --------------- */

h1{
    font-size: calc(24px + 1 * (100vw / 1920));
}

li{
    list-style: none;
}

.card-title{
    font-size: calc(14px + 12 * (100vw / 1920));
}

.card-subtitle{
    font-size: calc(14px + 6 * (100vw / 1920));
}

.footer-text{
    user-select: none;
    white-space: nowrap;
    font-size: calc(16px + 1 * (100vw / 1920));
}

.alert-message{
    color: #f03d33;
    font-size: calc(8px + 6 * (100vw / 1920));
}

/* --------------- картинки --------------- */



/* --------------- посты --------------- */

.posts-container{
    gap: 16% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post{
    padding: 4%;
    position: relative;
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
}

.blog-post{
    padding: 4%;
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
}

.post-title{
    font-weight: bold;
    font-size: calc(14px + 8 * (100vw / 1920));
}

.category-place{
    margin: 3% 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    color: rgb(168, 168, 168);
    font-size: calc(14px + 2 * (100vw / 1920));
}

.bigsep{
    width: 70%;
    opacity: 40%;
    margin: 3% auto;
}

.category{
    border: none;
    color: black;
    cursor: pointer;
    margin-left: 6px;
    padding-bottom: 4%;
    white-space: nowrap;
    border-bottom: solid 1px black;
    font-size: calc(14px + 2 * (100vw / 1920));
}

.category-form{
    width: min-content;
}

.pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5% auto 0 auto;
    justify-content: center;
}

.active-page{
    width: 23px;
    margin: 0 1%;
    height: 23px;
    display: flex;
    color: white;
    user-select: none;
    align-items: center;
    border-radius: 100px;
    transform: scale(1.4);
    justify-content: center;
    background-color: #f03d33;
}

.inactive-page{
    margin: 0 1%;
    width: 23px;
    height: 23px;
    display: flex;
    color: white;
    user-select: none;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    background-color: #ffb5b1;
}

.delete-button{
    top: 0;
    right: 0;
    border: none;
    padding: 3.5%;
    color: white;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    transition: .1s ease;
    background-color: #ff352b;
}

.delete-button:hover{
    transform: translateY(-5px);
}

.change-button{
    border: none;
    padding: 3.5% 10%;
    color: white;
    margin-left: 20%;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 10px;
    transition: .1s ease;
    background-color: #98b8ff;
}

/* --------------- кнопки --------------- */

.form-button{
    bottom: -52px;
    color: white;
    padding: 1% 5%;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
    transition: .2s ease;
    background-color: #98b8ff;
    border: solid 1px transparent;
    font-size: calc(14px + 4 * (100vw / 1920));
}

.disabled{
    opacity: 70%;
    cursor: default;
}

.button{
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 12px;
    transition: .2s ease;
    background-color: #98b8ff;
    font-size: calc(14px + 4 * (100vw / 1920));
}

.red-button{
    background-color: #f03d33;
}

.card-header .button{
    margin-left: 8%;
    white-space: nowrap;
}

.form-button:hover, .button:hover{
    opacity: 80%;
}

/* --- Медиа запросы --- */

@media (max-width: 1024px) {
    .card{
        padding: 3%;
    }

    .button{
        padding: 1.4% 3%;
    }
}

@media (max-width: 768px) {
    .card{
        padding: 3%;
    }

    .container{
        width: 70%;
    }

    .post{
        width: 44%;
        padding: 4% 2%;
        border-radius: 10px;
    }

    .post:nth-child(-n+4){
        margin-bottom: 3%;
    }

    .filter-form{
        display: flex;
        flex-direction: column;
    }

    .filter-form .form-input{
        width: 95.4%;
        padding: 1.6% 2%;
        margin-bottom: 4%;
    }
    
    .select, .filter-select{
        margin-bottom: 4%;
        padding: 1% 0 1% 1%;
    }

    .form-input, .text-area, .select, .filter-select{
        width: 100%;
        border-radius: 12px;
    }

    .file-upload{
        border-radius: 0;
    }
}

@media (max-width: 425px) {

    .container{
        width: 80%;
    }

    main .container{
        margin-top: 0;
        border-radius: 12px;
        padding: 5% 5% 10% 5%;
    }

    .inner-header{
        padding: 6% 0;
    }

    .navigation-left{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        width: 70%;
    }

    .navigation-right{
        flex-direction: column;
        align-items: flex-end;
    }

    .navigation-left li{
        margin-top: 12%;
    }

    .navigation-right li:first-child{
        margin-bottom: 12%;
    }
    
    .post{
        width: 100%;
        padding: 4% 4%;
        border-radius: 12px;
    }

    .post:nth-child(-n+6){
        margin-bottom: 6%;
    }

    .agreement label{
        white-space: normal;
    }

    .form-button{
        bottom: -64px;
    }

    .no-grow{
        margin: 2% 2% 6% 2%;
    }

    .inner-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-text{
        margin: 2% 0;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .card-header{
        display: flex;
        flex-direction: column;
    }

    .post-header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .card-title{
        padding: 4% 0;
    }

    .card-header .button{
        margin: 3% 0;
        padding: 3% 4%;
        text-align: center;
    }

    .posts-container{
        margin-top: 4%;
    }
}

@media (max-width: 375px) {
    main .container{
        padding: 5% 5% 14% 5%;
        border-radius: 16px;
        background-color: #ffffff;
    }

    .inner-header{
        padding: 7% 0;
    }

    .main-title{
        padding-bottom: 6%;
    }

    .post{
        padding: 4% 6%;
        border-radius: 12px;
        background-color: rgb(240, 240, 240);
    }
}